deps/
bugs/
PRIVATE_PLANNING/

# Docs
node_modules/
docs/.vitepress/cache/
docs/.vitepress/dist/
package-lock.json
bun.lockb

# Lua
*.luac
.luarocks/

.repro

# Editors
*.swp
*.swo
.netrwhist

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.TemporaryItems
.Trashes
